@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
}
ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
  background-color: #ede9de;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}
.pc_nav ul li {
  width: 105px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

.header_wrap {
  width: 1000px;
  display: flex;
  margin: 0 auto;
}

.header_logo img {
  width: 200px;
}

.mainvisual {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.main1 {
  opacity: 0.3;
}

.kasaneru5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.kasaneru5 p {
  z-index: 1;
}

.main2 {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  /* margin-top: -578px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.p1 {
  font-size: 1.625em;
  width: 100%;
  color: #00053a;
  margin-bottom: 55px;
}

.p2 {
  font-size: 1.25em;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 60px;
  line-height: 2.1875rem;
  text-align: justify;
  text-align-last: left;
  color: #00053a;
}

.p3 {
  font-size: 1.5em;
  background-color: #00053a;
  color: #fff;
  width: 40%;

  padding: 15px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 140px;
  right: 60px;
  display: flex;
  flex-direction: column;
}
.sidemenu {
  font-size: 1.25em;
  color: #00053a;
  margin-bottom: 40px;
  cursor: pointer;
  text-align: center;
}

.instagram_icon {
  /* margin-top: 40px; */
  width: 30px;
  margin: 0 auto;
}

.ask {
  z-index: 1;
  position: fixed;
  top: 750px;
  right: 60px;
  cursor: pointer;
}

.scroll {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.profile_section {
  max-width: 1000px;
  position: relative;
  margin-right: 150px;
  /* いつの間にか左寄せに、、 */
}
.profile_subtitle {
  position: absolute;
  top: 8%;
  left: 35%;
  transform: translateX(-50%);
  color: #00053a;
  font-size: 1.9375em;
  text-align: center;

  width: 100%; /* Full width to center the text */
  z-index: 10; /* Ensure it is above the image */
  /* ↑2行、消しても変わらず。何のため？時間があれば */
}

.profile_design {
  margin-left: 300px;
}
.profile {
  display: flex;
  justify-content: flex-end;
}

.introduction {
  position: absolute;
  top: 140px;
  /* パーセント指定で */
  left: 0px;
  max-width: 470px;
  width: 40%;
}

.profile_top > div {
  display: flex;
  flex-direction: column;
  /* padding-left: 5%; */
  max-width: 60%;
  width: 300px;
}

.profile_name {
  font-size: 1.25em;
  margin: 0 auto;
  color: #00053a;
}
.profile_birth {
  font-size: 0.875em;
  margin: 0 auto;
  padding-top: 5%;
  color: #00053a;
}

.introduction > div {
  position: relative;
}
/* .ipad {
  width: 470px;
} */
/* 画面縮小時にiPadが小さくなっていく */
/* めちゃくちゃ縮小した時にプロフセクションが右端へ行く */

.profile_message_container {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 名前サイズ、位置微調整 */
}

.profile_top {
  display: flex;
  align-items: flex-end;
}
.profile_top > img {
  width: 35%;
  padding-left: 5%;
}

.profile_top > div {
  margin-bottom: 10%;
}

.profile_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.profile_container > div {
  max-width: 50%;
  width: 250px;
}

.profile_topic {
  font-size: 0.875em;
  line-height: 1.25rem;
  text-align: justify;
  text-align-last: left;
  color: #00053a;
  padding-right: 6%;
  max-width: 30%;
  width: 150px;
}

.profile_message {
  font-size: 0.875em;
  line-height: 1.25rem;
  text-align: justify;
  text-align-last: left;
  color: #00053a;
}

/* スリックオプションで左右の見切れ表現 */

.profile_section {
  max-width: 1000px;
  position: relative;
  margin-right: 150px;
  margin-left: auto;
}
.profile_subtitle {
  position: absolute;
  top: 8%;
  left: 35%;
  transform: translateX(-50%);
  color: #00053a;
  font-size: 1.9375em;
  text-align: center;

  width: 100%; /* Full width to center the text */
  z-index: 10; /* Ensure it is above the image */
  /* ↑2行、消しても変わらず。何のため？時間があれば */
}

.profile_design {
  margin-left: 300px;
}
.profile {
  display: flex;
  justify-content: flex-end;
}

.introduction {
  position: absolute;
  top: 140px;
  /* パーセント指定で */
  left: 0px;
  max-width: 470px;
  width: 40%;
}

/* ---------works--------------- */
/* ---------works--------------- */
/* ---------works--------------- */

.works_menu > div {
  position: relative;
}

.ipad_works {
  transform: rotate(90deg);
  display: block;
}
/* もう少し右に寄せたい */
/* 右に寄せようとするとサイズが小さくなる？ */

.slideshow_container {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  height: 50%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: none;
  position: relative;
}

.slide_image1 {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.slide_image2 {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.slide_image4 {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.slide_image5 {
  width: 125%;
  height: auto;
  max-width: 300px;
}

.slide_image3ex {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.slide_image3ch {
  width: 100%;
  height: auto;
  max-width: 300px;
}
.text {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: #00053a;
  font-size: 1em;
  padding: 8px 0;
}
/* テキスト見切れる */
/* 調整すると画像も */

.works_section {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
.works_subtitle {
  position: absolute;
  top: 8%;
  left: 35%;
  transform: translateX(-50%);
  color: #00053a;
  font-size: 1.9375em;
  text-align: center;

  width: 100%; /* Full width to center the text */
  z-index: 10; /* Ensure it is above the image */
}

.works_design {
  margin: 0 auto;
}
.works {
  display: flex;
  justify-content: flex-end;
}

.works_menu {
  position: absolute;
  top: 140px;
  /* パーセント指定で */
  left: 0px;
  max-width: 470px;
  width: 40%;
}

/* ---------works--------------- */
/* ---------works--------------- */
/* ---------works--------------- */

/* 
<!-- ----------------Skill------------------ -->
<!-- ----------------Skill------------------ -->
<!-- ----------------Skill------------------ --> */

.works_menu > div {
  position: relative;
}

.ipad_skill {
  display: block;
  padding-left: 70px;
}

.skill_section {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
.skill_subtitle {
  position: absolute;
  top: 8%;
  left: 35%;
  transform: translateX(-50%);
  color: #00053a;
  font-size: 1.9375em;
  text-align: center;

  width: 100%; /* Full width to center the text */
  z-index: 10; /* Ensure it is above the image */
}

.skill_design {
  margin: 0 auto;
}
.skill {
  display: flex;
  justify-content: flex-end;
}

.skill_menu {
  position: absolute;
  top: 140px;
  /* パーセント指定で */
  left: 0px;
  max-width: 470px;
  width: 40%;
}

/* 
<!-- ----------------Skill------------------ -->
<!-- ----------------Skill------------------ -->
<!-- ----------------Skill------------------ --> */
